*{
    margin:0px;
    padding:0px;
}

.header{
    background:url(../img/earth.jpg);
    background-size:cover;
    background-position:center;
    height:120vh;
    /* padding-top:0px;
    padding-left:0px; */
    background-attachment: fixed;
    /* z-index:-1; */
    /* position:relative; */
}

.header h1{
    text-align:center;
    color:white;
    font-size:8vw;
    /* font-family: 'Merriweather Sans', sans-serif; */
    /* font-family: 'Bitter', serif; */
    padding-top:35vh;
    font-family: 'Audiowide', cursive;
    /* position:fixed; */
    z-index:1;
}

h2{
    text-align:center;
    color:white;
    font-size:6vw;
    /* font-family: 'Merriweather Sans', sans-serif; */
    /* font-family: 'Bitter', serif; */
    padding-top:7vh;
    font-family: 'Audiowide', cursive;
    /* position:fixed; */
    z-index:1;
}

ul li{
    display:inline;
    color:white;
    padding-top:0px; 
    list-style: none;
    font-weight:bold;
    /* padding-right:3px;
    padding-bottom:3px;    
    padding-left:3px; */
    border: solid 2px transparent;
    /* background-color:black; */
}

a:hover{
    text-decoration: none;
}

ul li:hover{
    border: solid 2px white;   
}

/* .onto{
    padding-bottom:3px;    
    border: dotted 1px white;
    color:yellow;
    font-weight: bold; 
} */

.nav {
    height: 70px;
    background: transparent; 
    position: fixed; 
    /* float: right; */
    display:flex;
    flex-direction: row-reverse;
    width: 100%;
    z-index: 99999;
    transition: all ease .5s;
    /* text-align:right; */
    font-size:15px;
}

.nav.change {
    height:50px;
    background: rgba(0, 0, 0, 0.5);
    transition: all ease .5s;
    font-size:14px;
}

.nav.change:hover{
    height: 70px;
    background: transparent;  
    position: fixed; 
    display:flex;
    flex-direction: row-reverse;
    width: 100%;
    z-index: 99999;
    transition: all ease .5s;
    /* text-align:right; */
    font-size:15px;
}
  


#technology{
    background-color: black;
    /* height:120vh; */
    z-index:9999;
}

.tech{
    padding-top:10vh;
    padding-bottom:15vh;
    width:100vw;
}

/* .col-sm{
    height:55vh;
    background-color: #999;
    margin:3vh;
    border: 2px black solid; 
} */

.threeParts{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    justify-content: space-around;
}

.part{
    height:450px;
    width: 250px;
    background-color: #999;
    margin:3vh;
    border: 2px black solid; 
}

.first{
    background: url(../img/satelita.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    color:white;
    font-weight:bold;
    font-size:2.3vh;
}

.second p{
    padding:2vh;
    font-weight:bold;
}

.third{
    background: url(../img/project.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    color:white;
    font-weight:bold;
    font-size:2.3vh;
}



#future{
    background: url(../img/colony.jpg);
    height:120vh;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

#future h3{
    font-size:6vw;
    width:100%;
    text-transform: uppercase;
    padding-top:5vh;
    padding-left:2vh;
}
#future h4{
    font-size:3vw;
    width:100%;
    text-transform: uppercase;
    padding-top:2vh;
    padding-left:2vh;
}

/* #environment{
    background-color: black;
    height:120vh;
} */



#joinUs{
    background-color: black;
    height:95vh;
}

form{
    padding-top:8vh;
    width: 70%;
    margin: auto;
}

form label{
    color:white;
    font-weight: bold;
}

footer{
    /* text-align:center; */
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Audiowide', cursive;
    height:5vh;
    font-size:1.8vw;
    background-color:white;
    color:black;
}